{% extends 'base.html' %}

{% block title %}Добавить нового клиента{% endblock %}

{% block content %}
<h1>Добавить нового клиента</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}

Страница редактирования данных клиента (edit_client.html)
{% extends 'base.html' %}

{% block title %}Редактировать клиента{% endblock %}

{% block content %}
<h1>Редактировать клиента</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Обновить</button>
</form>
{% endblock %}
Страница просмотра деталей рассылки (newsletter_detail.html)
{% extends 'base.html' %}

{% block title %}Детали рассылки{% endblock %}

{% block content %}
<h1>Детали рассылки: {{ newsletter.start_time }} - {{ newsletter.frequency }}</h1>
<div>
    <p><strong>Статус:</strong> {{ newsletter.status }}</p>
    <p><strong>Сообщение:</strong> {{ newsletter.message.body }}</p>
</div>
{% endblock %}